.mat-toolbar {
    /*background-color: #92280c;*/
    height: 64px;
}

.example-button-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
    font-size: 17px;
    flex: 1;
}